<footer class="footer bg-dark">
    <div class="container">
        <table class="tablaFooter t1">
            <tr>
                <td rowspan="4">
                    <img src="assets/img/unc.png" width="50" height="63" alt="logo">
                </td>
            </tr>
            <tr>
                <td>© Universidad Nacional de Cajamarca {{anio}}</td>
                <td>Max Ortega </td>
            </tr>
            <tr>
                <td>Facultad de Ingenieria</td>
                <td>Administrador de la App</td>
            </tr>
            <tr>
                <td>Escuela de Ingenieria de Sistemas - EAPIS</td>
                <td>correo: mortegar15_2@unc.edu.pe</td>
            </tr>
        </table>

        <p></p>
        <p>Ultima actualizacion: {{fecha}}</p>
    </div>
</footer>