<section id="datos">
    <div class="container">
        <div class="row">
            <div class="col-md-4 marder">

                <div class="content-rigth">
                    <p>Nombre: Autos 4 arcos<br>Email: autos4arcos@gmail.com<br>Direccion: Av.Hoyos rubio 1645<br>Telefono: 910955348</p>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="assets/img/facebook.png" width="25" height="25" alt="logo">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="assets/img/gorjeo.png" width="25" height="25" alt="logo">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="assets/img/instagram.png" width="25" height="25" alt="logo">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="assets/img/youtube.png" width="25" height="25" alt="logo">
                            </a>
                        </li>
                    </ul>

                    <p class="descripcion">Exclusividad y distinción de primera clase. En Autos 4 arcos encontrará el servicio ideal para su requerimiento, con una atención personalizada que hará de su viaje una experiencia inolvidable en cualquiera de nuestras opciones de
                        traslado.
                        <br>
                        <br>Logramos que su traslado sea de lujo, desde la partida hacia la ceremonia civil o religiosa hasta el retorno a su noche de bodas; para ello ponemos a su diposición vehículos de alta gama y un servicio exclusivo y adaptado a
                        tus requerimientos.</p>

                </div>
            </div>

            <div class="col-md-6 postSer">
                <iframe width="600" height="200" src="https://jsonplaceholder.typicode.com/posts" frameborder="1"></iframe>

                <div class="col-md-6 postPais">
                    <iframe width="530" height="200" src="https://restcountries.eu/rest/v2/all" frameborder="1"></iframe>
                </div>

                <div class="col-md-6 postPais">
                    <iframe width="530" height="200" src="https://restcountries.eu/rest/v2/name/peru?fullText=true" frameborder="1"></iframe>
                </div>

            </div>



        </div>
    </div>
</section>