#menu {
    background-color: rgb(9, 39, 41);
}

.content-center {
    max-width: 800px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.btn-gradi {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9 51%, #1D976C 100%)
}

.btn-gradi {
    border: 0;
    outline: 0;
    font-size: 18px;
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}

.btn-gradi:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    transform: translateY(-3px);
}

.btn-gradi:active {
    transform: translateY(3px);
}